<section class="materiel">
  <div class="tracking-intro">
    <h1 class="hero-title">Matériel d'emballage</h1>
    <p class="hero-subtitle">
      Choisissez une catégorie pour découvrir les produits associés.
    </p>
  </div>

  <div class="materiel-nav">
    <!-- Catégories -->
    <div class="row g-3">
      {{#each materiels}}
      <div class="col-md-4">
        <a href="#{{type}}" class="categorie-btn">
          <div class="category-box">{{category}}</div>
        </a>
      </div>
      {{/each}}
    </div>

  </div>
</section>

<!-- Sections détaillées pour chaque catégorie -->
<section class="produits">
  <div class="container first-container">
    {{#each materiels}}
    <h2 id="{{type}}">{{category}}</h2>
    {{#each products}}
    <p>{{name}}</p>
    {{/each}}
    {{/each}}
  </div>
</section>

<!-- Section "À découvrir" CONTEXTUELLE  -->
   {{> related-links/_base pageType="materiel-catalog"}} 


