{{!-- =============================================
_question-detail.hbs
Contexte : Vient de lire une question/réponse.
Disponible : questionCategory, relatedQuestions (array)
Suggérer : Comparateur · Questions liées · Suivi si catégorie suivi
============================================= --}}


<a href="/#formulaire-comparateur" class="link-card featured">
  <div class="link-icon">
    <i class="fa-solid fa-calculator"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Prêt à envoyer ?</h4>
    <p class="link-description"> Comparez les offres et choisissez le meilleur tarif pour votre envoi.</p>
    <span class="link-action">Comparer les offres<i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>


{{!-- Carte 2 : Suivi si catégorie = suivi-de-colis, sinon guide d'emballage --}}

{{#if (eq category "suivi")}}
<a href="/suivi" class="link-card">
  <div class="link-icon icon-teal">
    <i class="fa-solid fa-map-marker-alt"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Votre colis est parti ?</h4>
    <p class="link-description">Suivez-le en temps réel, tous transporteurs.</p>
    <span class="link-action">Suivre maintenant <i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>
{{else}}
<a href="/conseils" class="link-card">
  <div class="link-icon icon-green">
    <i class="fa-solid fa-book-open"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">Guides d'emballage</h4>
    <p class="link-description">Préparez votre colis correctement avant de l'expédier.</p>
    <span class="link-action">Lire les guides <i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>
{{/if}}


{{!-- Carte 3 : Question liée si disponible, sinon toutes les questions de la catégorie --}}

{{#if relatedQuestions.[0]}}
<a href="/questions/{{questionCategory.slug}}/{{relatedQuestions.[0].slug}}" class="link-card">
  <div class="link-icon icon-teal">
    <i class="fa-solid fa-circle-question"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">{{relatedQuestions.[0].titre}}</h4>
    <p class="link-description">Question liée — continuez votre exploration.</p>
    <span class="link-action">Lire la réponse <i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>
{{else}}
<a href="/questions/{{questionCategory.slug}}" class="link-card">
  <div class="link-icon icon-teal">
    <i class="fa-solid fa-circle-question"></i>
  </div>
  <div class="link-content">
    <h4 class="link-title">D'autres questions ?</h4>
    <p class="link-description">Tarifs, transporteurs, délais, douane : toutes les réponses au même endroit.</p>
    <span class="link-action">Voir toutes les catégories<i class="fa-solid fa-arrow-right"></i></span>
  </div>
</a>
{{/if}}